{% extends 'mainPage.html' %} {% block content %}
<section id="banner">
    {% for item in banners %}
    <div>
        <div>
            <img src="{{item.photo.url}}" alt="Banner" />
        </div>
    </div>
    {% endfor %}
</section>
<section id="special_menu">
    <div class="section_name"><h1>Меню від шефа</h1></div>
    {% for item in special_categories %}
    <div class="category_name"><h2>{{item.title}}</h2></div>
    <div class="pageHolder">
        {% for dishes in item.dishes %}
        <a class="menu_cell" href="/menu/{{dishes.pk}}">
            <div class="dish_cell">
                <h3>{{dishes.title}}</h3>
                <p>{{dishes.description}}</p>
                <p>{{dishes.price}}</p>
                <img
                    class="image_dish"
                    src="{{dishes.photo.url}}"
                    alt="Photo of dish"
                />
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</section>
<section id="menu">
    <div class="section_name"><h1>Меню</h1></div>
    {% for item in categories %}
    <div class="category_name"><h2>{{item.title}}</h2></div>
    <div class="pageHolder">
        {% for dishes in item.dishes %}
        <a class="menu_cell" href="/menu/{{dishes.pk}}">
            <div class="dish_cell">
                <h3>{{dishes.title}}</h3>
                <p>{{dishes.description}}</p>
                <p>{{dishes.price}}</p>
                <img
                    class="image_dish"
                    src="{{dishes.photo.url}}"
                    alt="Photo of dish"
                />
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</section>
<section section id="events">
    <div class="section_name"><h1>Події</h1></div>
    {% for item in events %}
    <div class="events_field">
        <img
            class="event_image"
            src="{{item.photo.url}}"
            alt="Photo of event"
        />
        <div class="event_data">
            <label
                >Event title:
                <p>{{item.title}}</p></label
            >
            <label
                >Event description:
                <p>{{item.description}}</p></label
            >
            <label
                >Event picer:
                <p>{{item.price}}</p></label
            >
            <label
                >Event date:
                <p>{{item.event_date |date:'d-m-y'}}</p></label
            >
            <label
                >Event time:
                <p>{{item.event_time}}</p></label
            >
        </div>
    </div>
    {% endfor %}
</section>
<section id="tableReservation">
    <div class="section_name"><h2>Залишити повідомлення</h2></div>
    <div class="user_data_form">
        <form
            name="sendMessage"
            id="contactForm"
            novalidate
            action=""
            method="POST"
        >
            {% csrf_token %}
            <div>{{form1.user_name}}</div>
            <div>{{form1.user_email}}</div>
            <div>{{form1.message}}</div>
            <button type="submit" name="sendMessage" class="submitBtn">
                Залишити повідомлення
            </button>
        </form>
    </div>
</section>

<section id="createCategory">
    <div class="section_name"><h2>Створити категорію</h2></div>
    <div class="create_category_form">
        <form
            name="createCategory"
            id="createCategory"
            novalidate
            action=""
            method="POST"
        >
            {% csrf_token %}
            <div>
                {{form2.title}} {{form2.category_order}}
                <div>
                    <label for="">Is visible: </label>{{form2.is_visible}}
                </div>
                <div>
                    <label for="">Is special: </label>{{form2.is_special}}
                </div>
            </div>
            <button type="submit" name="createCategory" class="submitBtn">
                Створити категорію
            </button>
        </form>
    </div>
</section>

<section id="createDish">
    <div class="section_name"><h2>Створити категорію</h2></div>
    <div class="create_dish_form">
        <form
            name="createNewDish"
            id="dishForm"
            novalidate
            action=""
            method="POST"
            enctype="multipart/form-data"
        >
            {% csrf_token %}
            <div>{{form3.title}}</div>
            <div>{{form3.price}}</div>
            <div>{{form3.description}}</div>
            <div><label>Фото страви: </label>{{form3.photo}}</div>
            <div>{{form3.category}}</div>
            <div><label>Is visible: </label>{{form3.is_visible}}</div>
            <button type="submit" name="createDish" class="submitBtn">
                Створити страву
            </button>
        </form>
    </div>
</section>
{% endblock %}
