{% extends 'mainPage.html' %} {% block content %}
<section id="banner">
    <div class="container">
        <div class="row">
            {% for item in banners %}
            <div>
                <h3>{{item.title}}</h3>
                <div>
                    <img src="{{item.photo.url}}" alt="Banner" />
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="special_menu">
    <div class="section_name"><h1>Меню від шефа</h1></div>
    <div class="container">
        <div class="row">
            {% for item in special_categories %}
            <div class="dish_category">
                <h2>{{item.title}}</h2>
                {% for dishes in item.dishes %}
                <div class="dish_cell">
                    <h3>{{dishes.title}}</h3>
                    <p>{{dishes.description}}</p>
                    <p>{{dishes.price}}</p>
                    <img
                        class="image_dish"
                        src="{{dishes.photo.url}}"
                        alt="Photo of dish"
                    />
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="menu">
    <div class="section_name"><h1>Меню</h1></div>
    <div class="container">
        <div class="row">
            {% for item in categories %}
            <div class="dish_category">
                <h2>{{item.title}}</h2>
                {% for dishes in item.dishes %}
                <div class="dish_cell">
                    <h3>{{dishes.title}}</h3>
                    <p>{{dishes.description}}</p>
                    <p>{{dishes.price}}</p>
                    <img
                        class="image_dish"
                        src="{{dishes.photo.url}}"
                        alt="Photo of dish"
                    />
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section section id="events">
    <div class="section_name"><h1>Події</h1></div>
    <div class="container">
        <div class="row">
            {% for item in events %}
            <div>
                <h2>{{item.title}}</h2>
                <p>{{item.description}}</p>
                <p>{{item.price}}</p>
                <p>{{item.event_date}}</p>
                <p>{{item.event_time}}</p>
                <img src="{{item.photo.url}}" alt="Photo of event" />
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
