{% extends 'mainPage.html' %} {% block content %}

<section id="banner">
    <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
    >
        <div class="carousel-inner">
            {% for item in banners %} {% if forloop.counter == 1 %}
            <div class="carousel-item active bannerImage">
                <img
                    class="d-block w-100"
                    src="{{ item.photo.url }}"
                    alt="Image"
                />
            </div>
            {% else %}
            <div class="carousel-item bannerImage">
                <img
                    class="d-block w-100"
                    src="{{ item.photo.url }}"
                    alt="Image"
                />
            </div>
            {% endif %} {% endfor %}
        </div>
        <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section id="special_menu">
    <div class="section_name"><h1>Меню від шефа</h1></div>
    {% for item in special_categories %}
    <div class="category_name"><h2>{{item.title}}</h2></div>
    <div class="container">
        <div class="row">
            {% for dishes in item.dishes %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem">
                    <img
                        class="card-img-top image"
                        src="{{dishes.photo.url}}"
                        alt="Photo of dish"
                    />
                    <div class="card-body">
                        <h5 class="card-title">{{dishes.title}}</h5>
                        <p class="card-text">Опис: {{dishes.description}}</p>
                        <p class="card-text">Ціна: {{dishes.price}}</p>
                        <a href="/menu/{{dishes.pk}}" class="btn btn-primary"
                            >До страви</a
                        >
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>
<section id="menu">
    <div class="section_name"><h1>Меню</h1></div>
    {% for item in categories %}
    <div class="category_name"><h2>{{item.title}}</h2></div>
    <div class="container">
        <div class="row">
            {% for dishes in item.dishes %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem">
                    <img
                        class="card-img-top image"
                        src="{{dishes.photo.url}}"
                        alt="Photo of dish"
                    />
                    <div class="card-body">
                        <h5 class="card-title">{{dishes.title}}</h5>
                        <p class="card-text">Опис: {{dishes.description}}</p>
                        <p class="card-text">Ціна: {{dishes.price}}</p>
                        <a href="/menu/{{dishes.pk}}" class="btn btn-primary"
                            >До страви</a
                        >
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>
<section section id="events">
    <div class="section_name"><h1>Події</h1></div>
    {% for item in events %}
    <div class="card mb-3">
        <img class="card-img-top" src="{{item.photo.url}}" alt="Image" />
        <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">Опис: {{item.description}}</p>
            <p class="card-text">Ціна: {{item.price}}</p>
            <p class="card-text">
                Дата івенту: {{item.event_date |date:'d-m-y'}}
            </p>
            <p class="card-text">Дата івенту:{{item.event_time}}</p>
        </div>
    </div>
    {% endfor %}
</section>
<section id="tableReservation">
    <div class="section_name"><h2>Залишити повідомлення</h2></div>
    <div class="container form-conteiner">
        <form
            name="sendMessage"
            id="contactForm"
            novalidate
            action=""
            method="POST"
        >
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Ваше ім'я</label>{{form1.user_name}}
            </div>
            <div class="form-group">
                <label for="email">Електрона пошта</label>{{form1.user_email}}
            </div>
            <div class="form-group">
                <label for="message">Повідомлення</label>{{form1.message}}
            </div>
            <button
                type="submit"
                name="sendMessage"
                class="btn btn-primary btn-block"
            >
                Залишити повідомлення
            </button>
        </form>
    </div>
</section>
{% if 'manager' in user.groups.0.name or user.is_staff %}
<section id="createCategory">
    <div class="section_name"><h2>Створити категорію</h2></div>
    <div class="container form-conteiner">
        <form
            name="createCategory"
            id="createCategory"
            novalidate
            action=""
            method="POST"
        >
            {% csrf_token %}
            <div class="form-group">
                <label for="category_title">Назва категорії</label
                >{{form2.title}}
            </div>
            <div class="form-group">
                <label for="category_title">Номер категорії</label
                >{{form2.category_order}}
            </div>
            <div class="form-group">
                <label for="category_visible">Is visible: </label
                >{{form2.is_visible}}
            </div>
            <div class="form-group">
                <label for="category_special">Is special: </label
                >{{form2.is_special}}
            </div>
            <button
                type="submit"
                name="createCategory"
                class="btn btn-primary btn-block"
            >
                Створити категорію
            </button>
        </form>
    </div>
</section>

<section id="createDish">
    <div class="section_name"><h2>Створити страву</h2></div>
    <div class="container form-conteiner">
        <form
            name="createNewDish"
            id="dishForm"
            novalidate
            action=""
            method="POST"
            enctype="multipart/form-data"
        >
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Назва страви</label>{{form3.title}}
            </div>
            <div class="form-group">
                <label for="price">Ціна страви</label>{{form3.price}}
            </div>
            <div class="form-group">
                <label for="description">Опис страви</label
                >{{form3.description}}
            </div>
            <div class="form-group">
                <label for="photo_input">Фото страви: </label>{{form3.photo}}
            </div>
            <div class="form-group">
                <label for="dish_category">Категорія страви: </label
                >{{form3.category}}
            </div>
            <div class="form-group">
                <label for="dish_visible">Is visible:</label
                >{{form3.is_visible}}
            </div>
            <button
                type="submit"
                name="createDish"
                class="btn btn-primary btn-block"
            >
                Створити страву
            </button>
        </form>
    </div>
</section>
{%endif%} {% endblock %}
